@charset "UTF-8";
/*Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.boton {
  display: grid;
  background-color: red;
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px; }
  .boton a {
    text-decoration: none;
    color: white; }

.main_ofertas {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "p5 p1 p1 p4" "p8  p2 p3 p9" "p6 p10 p10 p7";
  gap: 5px; }

.section_1 {
  grid-area: p3;
  overflow: hidden;
  text-align: center; }
  .section_1 img {
    object-fit: cover;
    width: 40%;
    height: 70%; }

.section_2 {
  grid-area: p1;
  justify-self: center;
  align-self: center;
  font-size: 50px;
  text-align: center; }
  .section_2 h2 {
    letter-spacing: 20px;
    font-size: 60px; }

.section_3 {
  grid-area: p2;
  overflow: hidden;
  text-align: center; }
  .section_3 img {
    object-fit: cover;
    width: 40%;
    height: 70%; }

.section_4 {
  grid-area: p4;
  overflow: hidden;
  text-align: center; }
  .section_4 img {
    object-fit: cover;
    width: 65%;
    height: 80%; }

.section_5 {
  grid-area: p5;
  overflow: hidden;
  text-align: center; }
  .section_5 img {
    object-fit: cover;
    width: 53%;
    height: 85%; }

.section_6 {
  grid-area: p6;
  overflow: hidden;
  text-align: center; }
  .section_6 img {
    object-fit: cover;
    width: 53%;
    height: 75%; }

.section_7 {
  grid-area: p7;
  overflow: hidden;
  text-align: center; }
  .section_7 img {
    object-fit: cover;
    width: 53%;
    height: 55%; }

.section_8 {
  grid-area: p8;
  justify-self: center;
  align-self: center;
  text-align: center; }
  .section_8 h2 {
    letter-spacing: 20px;
    font-size: 30px;
    color: red; }

.section_9 {
  grid-area: p9;
  justify-self: center;
  align-self: center;
  text-align: center; }
  .section_9 h2 {
    letter-spacing: 20px;
    font-size: 30px;
    color: violet; }

.section_10 {
  grid-area: p10;
  justify-self: center;
  align-self: center;
  font-size: 50px;
  text-align: center; }
  .section_10 h2 {
    letter-spacing: 20px;
    font-size: 60px;
    color: blue; }

footer {
  background-color: black;
  font-size: 30px;
  color: white;
  padding-bottom: 2%;
  padding-top: 2%; }

.ubicacion {
  grid-column: 1; }
  .ubicacion a {
    margin: 1px 1px 1px 100px; }

.telefono {
  grid-column: 2; }
  .telefono p {
    text-align: center; }

.redes {
  display: grid;
  grid-column: 3;
  grid-row: 1;
  justify-self: center; }
  .redes p {
    text-align: center; }
  .redes ul li {
    margin-right: 70px; }

.redes-sociales ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  gap: 3%;
  align-items: center; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .navbar li a {
    text-decoration: none;
    color: white;
    font-size: 20px; }

.contenedor-logo {
  display: flex;
  height: 90px;
  padding-left: 2%; }

.contenedor-lista {
  display: flex;
  align-items: center; }

.lista {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 70px;
  padding-right: 150px; }
  .lista li a {
    color: white;
    text-decoration: none;
    font-size: 20px; }

.grid-section-liquidaciontotal {
  display: grid;
  background-image: url(../assets/img/seccion_liquidacion_del_index/zapas_todas.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto); }

h1 {
  font-size: 60px;
  text-align: center;
  grid-column: 2 / 4;
  grid-row: 2 / 4; }

.container_ver {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  justify-content: center;
  align-items: center; }

.sectionEnvioGratis {
  display: flex;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  width: 100%;
  height: 80px;
  letter-spacing: 7px; }

.contenedor-catalogo {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: fit-content;
  text-align: center;
  font-size: 40px; }

.talles-adultos {
  height: 900px; }

.contenedor-imagenes-hombres {
  display: flex;
  flex-wrap: wrap; }

.contenedor-imagenes-mujeres {
  display: flex;
  flex-wrap: wrap; }

.contenedor-imagenes-niños {
  display: flex;
  flex-wrap: wrap; }

.catalogo-seccion {
  background-color: grey; }

.contenedor-envios {
  font-size: 0.5em; }

.contenedor-envios {
  display: flex;
  flex-wrap: wrap; }

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.row {
  display: flex;
  align-items: center; }

.sectionCatalog {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
  padding-top: 1%; }

.hombre {
  text-align: center;
  font-size: 40px; }

.mujer {
  text-align: center;
  font-size: 40px; }

.niños {
  text-align: center;
  font-size: 40px; }

.box {
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  column-gap: 10px;
  justify-content: space-between; }

.card {
  width: 12%;
  height: 300px;
  border: 3px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: serif;
  margin: 40px 40px 30px 30px;
  background-color: white; }
  .card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; }
  .card img {
    width: 100%;
    border-radius: 15px; }

h3 {
  font-size: 60px;
  text-align: center; }

.sectionInfo {
  align-items: center;
  text-align: center; }

.containerInfo {
  background-color: #F2F47F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px; }

.irAlTop {
  display: flex;
  background-color: black;
  justify-content: end; }
  .irAlTop a {
    color: red;
    text-decoration: none;
    font-size: 30px; }

/*mediaquery 2560 4K*/
@media (max-width: 2560px) {
  header {
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header img {
      width: 200px;
      height: 100px; }
  .lista {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 35px;
    padding-right: 100px; }
    .lista li a {
      color: white;
      text-decoration: none;
      font-size: 35px; }
  .imagen-achicada {
    width: 450px;
    /* Establece el ancho deseado */
    height: auto;
    /* El alto se ajustará automáticamente para mantener la proporción */ } }

/*mediaquery 1440*/
@media (max-width: 1440px) {
  header {
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header img {
      width: 100px;
      height: 50px; }
  .lista {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    padding-right: 100px; }
    .lista li a {
      color: white;
      text-decoration: none;
      font-size: 15px; }
  .imagen-achicada {
    width: 342px;
    /* Establece el ancho deseado */
    height: auto;
    /* El alto se ajustará automáticamente para mantener la proporción */ } }

/*mediaquery 1024*/
@media (max-width: 1024px) {
  header {
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header img {
      width: 100px;
      height: 50px; }
  .lista {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    padding-right: 100px; }
    .lista li a {
      color: white;
      text-decoration: none;
      font-size: 15px; }
  .imagen-achicada {
    width: 250px;
    height: auto; } }

/*mediaquery 768px*/
@media (max-width: 780px) {
  header {
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    header img {
      width: 100px;
      height: 50px; }
  .lista {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    padding-right: 100px; }
    .lista li a {
      color: white;
      text-decoration: none;
      font-size: 15px; }
  .grid-section-liquidaciontotal h1 {
    font-size: 35px; }
  .boton {
    display: grid;
    background-color: red;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px; }
    .boton a {
      text-decoration: none;
      color: white; }
  .imagen-achicada {
    width: 130px;
    height: auto; } }
