@import "./utilities/variables";
@import "./base/reset";
@import "./layout/main-ofertas";
@import "./layout/footer";

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    li {
        a{
            text-decoration: none;
            color:white;
            font-size: 20px;
        }
    }
}

.contenedor-logo{
    display: flex;
    height: 90px;
    padding-left: 2%;
}

.contenedor-lista{
    display: flex;
    align-items:center;
}

.lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 70px;
    padding-right:150px;
        li a{
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
}

.grid-section-liquidaciontotal{
    display: grid;
    background-image: $urlimgliqtotal;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(5,auto);
}

h1{
    font-size: 60px;
    text-align: center;
    grid-column: 2 / 4 ;
    grid-row: 2 / 4;
}

.container_ver{
    display: grid;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    justify-content: center;
    align-items: center;
}

.boton {
    display: grid;
    background-color: red; 
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    a {
        text-decoration: none;
        color:white;
    }
}

.sectionEnvioGratis{
    display: flex;
    background-color: black;
    color:white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    width: 100%;
    height:80px;
    letter-spacing: 7px;
}

.contenedor-catalogo{
    width: 100%;
    background:white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
    text-align: center;
    font-size: 40px;
}

.talles-adultos{
    height: 900px;
}

.contenedor-imagenes-hombres{
    display:flex;
    flex-wrap: wrap;
}

.contenedor-imagenes-mujeres{
    display:flex;
    flex-wrap: wrap;
}

.contenedor-imagenes-niños{
    display:flex;
    flex-wrap: wrap;
}

.catalogo-seccion{
    background-color: grey;
}

.contenedor-envios{
    font-size: 0.5em;
}

.contenedor-envios{
    display: flex;
    flex-wrap: wrap;
}

.container-fluid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row{
    display: flex;
    align-items: center;
}

.sectionCatalog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
    padding-top: 1%;
}

.hombre{
    text-align: center;
    font-size: 40px;
}

.mujer{
    text-align: center;
    font-size: 40px;
}

.niños{
    text-align: center;
    font-size: 40px;
}

.box{
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    column-gap: 10px;
    justify-content: space-between;
}

.card{
    width: 12%;
    height: 300px;
    border: 3px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: serif;
    margin: 40px 40px 30px 30px;
    background-color:white;

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    img{
        width: 100%;
        border-radius: 15px;
    }
}

h3{
    font-size: 60px;
    text-align: center;
}

.sectionInfo{
    align-items: center;
    text-align: center;
}

.containerInfo{
    background-color:$backgroundcontainerinfo ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.irAlTop{
    display: flex;
    background-color: black;
    justify-content: end;
    a{
        color: red;
        text-decoration: none;
        font-size: 30px;
    }
}




